/*#region Basic Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: #ffffff;
  color: #2e2f42;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* якщо у боді є ел. з класами is-open, то тоді приховується(блокується) скрол */
body:has(.modal-overlay.is-open),
body:has(.mobile-menu.is-open) {
  overflow-y: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a:focus,
a:hover {
  color: #404bbf;
}
button {
  cursor: pointer;
}
button:focus,
button:hover {
  background-color: #404bbf;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
/* .header .container {
  display: flex;
  align-items: center;
  margin: auto;
} */
.visually-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*#endregion*/
/* #region common */
.container {
  max-width: 320px; /*ширина всього контенту по макету*/
  margin: 0 auto;
  padding: 0 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion */
/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-column,
.contacts-inform {
  display: none;
}

.logo-header {
  font-size: 18px;
  font-weight: 700;

  color: #2e2f42;

  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;

  padding: 16px 0;
  display: block;
}
.web-blue {
  color: #4d5ae5;
}
/* button burger */
.burger-btn {
  margin-left: auto;

  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  fill: #2f2f37;

  display: block;
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    align-items: center;

    color: #2e2f42;
  }
  .nav-column {
    display: inline-flex;
    gap: 40px;
    align-items: center;
  }
  .nav-list-link {
    position: relative;

    font-weight: 500;

    display: inline-block;

    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-link::after {
    content: '';
    position: absolute;

    border-radius: 2px;

    /* всю ширину тексту навігації */
    width: 100%;
    height: 4px;

    left: 0;
    bottom: -1px;

    background-color: #404bbf;

    opacity: 0;
  }
  .nav-list-link:hover::after,
  .nav-list-link:focus::after,
  .nav-list-link.current::after {
    opacity: 1;
  }
  .nav-list-link.current {
    color: #404bbf;
  }
  .contacts-inform {
    color: #434455;

    display: block;
    margin-left: auto;

    font-style: normal;
  }
  .contacts-column {
    color: #434455;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }
  .contacts-link {
    color: #434455;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .contacts-column {
    gap: 40px;

    /* щоб стали у рядок */
    flex-direction: row;

    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts-link {
    font-size: 16px;

    line-height: 1.5;
  }
}
/* #endregion */
/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* віїзжає з правого боку + анімація */
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;

  /* transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateX(0);
}
.mobile-menu-container {
  position: relative;

  padding-top: 72px;
  padding-bottom: 40px;
  /* padding-left: 16px; */

  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn-close-moblmenu {
  /* шукає найближчого предка не static , прикрипили кнопку до контейнера */
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: #e7e9fc;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  width: 24px;
  height: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.close-icon-menu {
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Navigation */
/* плавний відступ, щоб завжди навігація була унизу */
.nav-mobile-menu {
  margin-bottom: auto;
}

.nav-column-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 40px;
}

.nav-link-moblmenu {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #2e2f42;
}
/* постійно активне */
.nav-link-moblmenu.active {
  color: #404bbf;
}
/* Contacts */
.contacts-mobile-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #434455;

  font-style: normal;
}

.contacts-column-moblmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 24px;

  margin-bottom: 48px;
}

.contacts-list-moblmenu {
}

/* .contacts-link-moblmenu:focus,
.contacts-link-moblmenu:hover {
  color: #4d5ae5;
} */

/* синій колір телефону */
.telephone-accent {
  color: #4d5ae5;
}
.contacts-link-moblmenu {
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Socials */
.socials-column-moblmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.socials-list-moblmenu {
  background-color: #4d5ae5;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.socials-link-moblmenu {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-moblmenu:hover,
.socials-link-moblmenu:focus {
  background-color: #404bbf;
}
/* 37:49 
  https://www.loom.com/share/bcac119269fe463680e3aad72163d33d?login_source=modal*/
/* ховаємо мобільне меню */
@media only screen and (min-width: 768px) {
  .mobile-menu.is-open {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .mobile-menu.is-open {
    display: none;
  }
}
/* #endregion */
/* #region Hero */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  /* адаптували зображення, зробити версії 1х 2х */
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/background/bg-mobile.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 72px;
  padding-bottom: 72px;

  max-width: 320px;
  margin: 0 auto;

  /* 2x зображення на мобільних пристроях */
  @media screen and (min-resolution: 2x) {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/background/bg-mobile-x2.jpg');
  }
}
.heading-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;

  text-align: center;
  color: #ffffff;

  margin-bottom: 72px;
  max-width: 216px;
}
.hero-button {
  cursor: pointer;

  height: 56px;

  font-weight: 500;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;

  padding: 16px 32px 16px 32px;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;

  justify-items: center;
  display: flex;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  /* Фон на планшетах 1х, 2x */
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/background/bg-tablet.jpg);

    padding-top: 112px;
    padding-bottom: 112px;

    max-width: 768px;
    @media screen and (min-resolution: 2x) {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/background/bg-tablet-x2.jpg');
    }
  }
  .heading-title {
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
  /* Фон на десктопах 1х, 2x */
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/background/people-office@1.jpg);

    padding-top: 188px;
    padding-bottom: 188px;

    background-size: cover;

    max-width: 1440px;

    @media screen and (min-resolution: 2x) {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/background/people-office-x2.jpg');
    }
  }

  .heading-title {
    margin-bottom: 48px;
  }
}
/* #endregion */
/* #region Features section */
.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-list {
  display: flex;

  flex-wrap: wrap;
  text-align: left;

  gap: 72px;
}

/* svg */
.our-features-icon {
  display: none;
}

.our-features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;

  color: #2e2f42;

  /* margin */
  margin-bottom: 8px;
}
.our-features-slogan {
  font-weight: 500;
  color: #434455;
}
@media only screen and (min-width: 768px) {
  .features-list {
    gap: 0;
  }
}
@media only screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-list-item {
    width: calc((100% - 24px) / 2);
  }
  .our-features-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }
  .features-list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: calc((100% - 3 * 24px) / 4);
  }
  .our-features-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;

    width: 100%;
    height: 112px;

    background-color: #f4f4fd;
  }
  .our-features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    margin: 0;
  }
  .our-features-slogan {
    font-weight: 400;
  }
}
/* #endregion */
/* #region Team section */
.team-section {
  background-color: #f4f4fd;

  padding-top: 96px;
  padding-bottom: 96px;
}
.team-section .container {
  padding-left: 12px;
  padding-right: 12px;
}
.caption-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;

  margin-bottom: 72px;

  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);

  background: #ffffff;

  max-width: 264px;
}
.team-text {
  padding: 32px 16px 32px 16px;
}
.our-team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;

  color: #2e2f42;
  /* виправила падінг на маржин */
  margin-bottom: 8px;
}
.our-team-subtitle {
  font-weight: 400;

  text-align: center;

  color: #434455;
}
.icon {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  /* виправила падінг на маржин*/
  margin-top: 8px;
}
.social-items {
}
.team-socials-link:hover {
  background-color: #404bbf;
}
.team-socials-link:focus {
  background-color: #404bbf;
}
.team-socials-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .team-section {
  }
  .team-section .container {
    padding-left: 92px;
    padding-right: 92px;
  }
  .caption-our-team {
  }
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    /* width: calc((100% - 24px) / 2); */
    justify-self: center;
    align-items: center;
  }
  .icon {
  }

  .team-text {
  }
  .our-team-member {
  }
  .our-team-subtitle {
  }
  .social-list {
  }
  .social-items {
  }
  .team-socials-link {
  }
}
@media only screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* під питанням */
  .team-section .container {
    padding: 0;
  }
  .container {
  }
  .caption-our-team {
  }
  .team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
  }
  .team-item {
  }
  .team-text {
  }
  .our-team-member {
  }
  .our-team-subtitle {
  }
  .social-list {
  }
  .social-items {
  }
  .team-socials-link {
  }
  .icon {
  }
}
/* #endregion */
/* #region Portfolio section */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.headline-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;

  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  /* row-gap: 48px; */
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* під питанням, на моб. пристроях */
/* .portfolio-list-item:hover {
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
} */

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
}

/* зображення змінюються при зміні пристрою */
/* обрізається на моб. пристроях */
.portfolio-image img {
  width: 100%;
  height: 100%;

  object-fit: none;
  object-position: top left;
}
/* overlay */
.portfolio-image {
  position: relative;
  overflow: hidden;

  max-width: 288px;
  height: 280px;
}
.portfolio-overlay {
  position: absolute;
  transform: translateY(100%);

  top: 0;
  left: 0;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 40px;
  padding-bottom: 40px;

  width: 100%;
  height: 100%;

  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-grid {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
  background-color: #ffffff;
}
.portfolio-text {
  font-weight: 400;

  color: #434455;
  background-color: #ffffff;

  /* виправила падінг на маржин */
  margin-top: 8px;
}
@media only screen and (min-width: 768px) {
  .portfolio-section {
  }

  .headline-portfolio {
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-image {
    max-width: 356px;
    height: 300px;
  }
  .portfolio-overlay {
  }
  .portfolio-grid {
  }
  .portfolio-subtitle {
  }
  .portfolio-text {
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .headline-portfolio {
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list-item:hover {
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-image {
    max-width: 360px;
  }
  .portfolio-overlay {
  }
  .portfolio-grid {
    box-shadow: none;
  }
  .portfolio-subtitle {
  }
  .portfolio-text {
  }
}
/* #endregion */
/* #region Footer section */
.footer {
  padding: 96px 0;

  background-color: #2e2f42;
}
/* задаємо на увесь контент футера */
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;

  /* вирівнюємо "заголовки" */
  text-align: center;
}

.footer-one-section {
  /* max-width: 288px; */
}
.logo-footer {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #f4f4fd;

  cursor: pointer;
}
.logo-footer-web {
  color: #4d5ae5;
}

.footer-desc {
  max-width: 264px;

  margin-top: 16px;

  font-weight: 400;
  color: #f4f4fd;

  text-align: left;
  /* margin-bottom: 72px; */
}

/* Social media */
.footer-two-section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.media-subtitle {
  font-weight: 500;

  color: #f4f4fd;

  margin-bottom: 16px;
}
.socials-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-items-list {
  background-color: #4d5ae5;

  border-radius: 50%;

  width: 40px;
  height: 40px;

  /* margin-bottom: 72px; */
}
.footer-social-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.icon-footer {
  fill: #f4f4fd;
}
/*Footer form subcribe*/
.footer-three-section {
  /* display: flex;
  flex-direction: column;
  gap: 16px; */
}
.subscribe-item {
  font-weight: 500;
  color: #f4f4fd;

  margin-bottom: 16px;
}
.footer-form {
}
.subscribe-form-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-color: #ffffff;
  color: #ffffff;

  /* width: 288px; */
  width: 100%;
  height: 40px;
  padding: 8px 16px;

  outline: none;
  /* прозорий */
  background-color: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  margin-bottom: 16px;
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 1);
}
.subscribe-input:focus {
  border-color: #31d0aa;
}
.button-subcribe-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  padding: 8px 24px;

  min-width: 165px;
  min-height: 40px;

  border-radius: 4px;
  background: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  border: none;

  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.button-subcribe-footer:focus,
.button-subcribe-footer:hover {
  background-color: #31d0aa;
}
.icon-airplane {
  fill: rgba(255, 255, 255, 1);
}
@media only screen and (min-width: 768px) {
  .footer {
  }
  .footer .container {
    /* йдуть рядком, і перенос рядка */
    flex-direction: row;
    flex-wrap: wrap;
    /* заголовки по лівій стороні */
    text-align: left;
  }
  /* стискаємо падінгами контейнер у футері (як робили у team-section) задаємо медіа запит щоб стиснення було тільки на tablet */
  @media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .footer .container {
      padding: 0 108px;

      gap: 72px 24px;
      /* row-gap: 72px; */
    }
  }
  .footer-one-section {
    justify-self: flex-end;
    /* max-width: 264px; */
  }
  .logo-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .logo-footer-web {
  }
  .footer-desc {
  }
  .footer-two-section {
  }
  .media-subtitle {
    justify-content: flex-start;
  }
  .socials-list-footer {
    justify-content: flex-start;
  }
  .social-items-list {
    margin: 0;
  }
  .footer-social-link {
  }
  .icon-footer {
  }
  /*Footer form subcribe*/
  .footer-three-section {
    /* максимальний розмір секції */
    /* max-width: 453px;
    width: 100%; */
  }
  .subscribe-item {
    display: flex;
    justify-content: flex-start;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
  }
  .subscribe-form-label {
  }
  .subscribe-input {
    width: 264px;

    margin: 0;
  }
  .button-subcribe-footer {
    margin-left: 24px;
  }
  .icon-airplane {
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer .container {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-one-section {
    margin-right: 120px;
  }
  .logo-footer {
    margin-bottom: 16px;
  }
  .logo-footer-web {
  }
  .footer-desc {
    margin: 0;

    display: flex;
    justify-content: flex-start;
  }
  .footer-two-section {
    margin-right: auto;
  }
  .media-subtitle {
  }
  .socials-list-footer {
    justify-content: center;
    align-items: center;
  }
  .social-items-list {
  }
  .footer-social-link {
  }
  .icon-footer {
  }
  /*Footer form subcribe*/
  .footer-three-section {
    /* margin-left: auto; */
  }
  .subscribe-item {
    text-align: left;
  }
  .footer-form {
    display: flex;
    align-items: center;
  }
  .subscribe-form-label {
  }
  .subscribe-input {
    outline: none;
  }
  .button-subcribe-footer {
  }
  .icon-airplane {
  }
}
/* #endregion */
/* #region Modal window */
/* Модальне вікно, основа */
.modal-overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgb(46 47 66 / 40%);

  transition: 300ms ease-in 150ms;
  transition-property: opacity, visibility;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: initial;
  transition-delay: 0ms;
}
.modal {
  width: 288px;
  /* якщо телефон буде більший висота ще буде більше, не фіксуємо */
  min-height: 623px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);

  padding: 72px 16px 24px 16px;

  opacity: 0;

  transition-property: opacity, transform;
  transition: 150ms ease;
}
.modal-overlay.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition-delay: 300ms;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: #e7e9fc;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.svg-close {
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
.modal-btn:hover .svg-close,
.modal-btn:focus .svg-close {
  fill: #ffffff;
}
.modal-slogan {
  font-weight: 500;

  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

/* РЕГЕСТРАЦІЯ */

.feedback-form {
}
.feedback-wrapper {
  margin-bottom: 8px;
}
.feedback-label {
  display: block;
  margin-bottom: 4px;

  color: rgba(142, 143, 153, 1);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
}
.feedback-field {
  position: relative;
}
.feedback-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;

  outline: none;
  /*прозора рамка палочки тексту, робить так щоб текст був посередині сірої рамки*/
  padding: 11px 34px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus {
  border-color: rgba(77, 90, 229, 1);
}
.feedback-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  pointer-events: none;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* якщо натискають на поле-воно отримує фокус тоді іконка міняє колір */
.feedback-input:focus + .feedback-icon {
  fill: #4d5ae5;
}
.feedback-wrapper-comment {
  margin: 0;
}
.comment-form {
  height: 120px;
  width: 100%;

  /*прозора рамка палочки тексту, робить так щоб текст був посередині сірої рамки*/
  padding: 8px 16px;

  margin-bottom: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  /* забороняє корист. змінювати розмір коментаря */
  resize: none;
  /* прибирає контур коментаря(інпута) при фокусі */
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-form::placeholder {
  /* змінює колір Text input */
  color: rgba(46, 47, 66, 0.4);
}
.comment-form:focus {
  border-color: rgba(77, 90, 229, 1);
}

/*CUSTOM  CHECKBOX */

.user-checkbox-label {
  display: block;

  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;

  color: #8e8f99;
}
.user-checkbox-input {
}
.feedback-toggler {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 16px;
  height: 16px;

  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.user-checkbox-input:checked + .feedback-toggler {
  background-color: #404bbf;
}

/* ІКОНКА ГАЛОЧКА */

.feedback-toggler-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}
/* коли чекбокс у активному стані, іконка галочки стає видною */
.user-checkbox-input:checked + .feedback-toggler > .feedback-toggler-icon {
  opacity: 1;
}
.feedback-toggler-icon {
}
.feedback-link-policy {
  line-height: 1.3;
  /* робить підкреслення знизу */
  text-decoration: underline;

  /* домальовує лінію підкреслення, навіть якщо вона переривається літерами */
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.button-form {
  width: 169px;

  display: block;
  margin: 0 auto;

  cursor: pointer;

  padding: 16px 32px 16px 32px;

  border-radius: 4px;
  color: #ffffff;
  background: rgba(77, 90, 229, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;

  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
@media only screen and (min-width: 768px) {
  .modal-overlay {
  }
  .modal-overlay.is-open {
  }
  .modal {
    width: 408px;
    min-height: 584px;

    padding-right: 24px;
    padding-left: 24px;
  }
  .modal-btn {
  }
  .svg-close {
  }
  .modal-slogan {
  }

  /* РЕГЕСТРАЦІЯ */

  .feedback-form {
  }
  .feedback-wrapper {
  }
  .feedback-label {
  }
  .feedback-field {
  }
  .feedback-input {
  }
  .feedback-icon {
  }
  .feedback-wrapper-comment {
  }
  .comment-form {
  }
  .user-checkbox-label {
  }
  .user-checkbox-input {
  }
  .feedback-toggler {
  }
  .feedback-toggler-icon {
  }
  .feedback-link-policy {
  }
  .button-form {
  }
}
@media only screen and (min-width: 1158px) {
  .modal-overlay {
  }
  .modal-overlay.is-open {
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
  .modal-btn {
    top: 14px;
    right: 23px;
  }
  .svg-close {
  }
  .modal-slogan {
  }

  /* РЕГЕСТРАЦІЯ */

  .feedback-form {
  }
  .feedback-wrapper {
  }
  .feedback-label {
  }
  .feedback-field {
  }
  .feedback-input {
    padding: 11px 38px;
  }
  .feedback-icon {
  }
  .feedback-wrapper-comment {
  }
  .comment-form {
  }

  /*CUSTOM  CHECKBOX */

  .user-checkbox-label {
  }
  .user-checkbox-input {
  }
  .feedback-toggler {
  }

  /* ІКОНКА ГАЛОЧКА */

  .feedback-toggler-icon {
  }
  .feedback-link-policy {
  }

  .button-form {
  }
}
/* #endregion */
