/*#region Basic Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: #ffffff;
  color: #2e2f42;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
body:has(.modal-overlay.is-open) {
  overflow-y: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a:focus,
a:hover {
  color: #404bbf;
}
button {
  cursor: pointer;
}
button:focus,
button:hover {
  background-color: #404bbf;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
/* .header .container {
  display: flex;
  align-items: center;
  margin: auto;
} */
.visually-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*#endregion*/
/* #region common */
.container {
  max-width: 320px; /*ширина всього контенту по макету*/
  margin: 0 auto;
  padding: 0 16px;

  outline: 2px solid red;
  outline-offset: -2px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion */
/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-column,
.contacts-inform {
  display: none;
}

.logo-header {
  font-size: 18px;
  font-weight: 700;

  color: #2e2f42;

  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;

  padding: 16px 0;
  display: block;
}
.web-blue {
  color: #4d5ae5;
}
/* button burger */
.burger-btn {
  margin-left: auto;

  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  fill: #2f2f37;

  display: block;
}
/* taplet */
@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    align-items: center;

    color: #2e2f42;
  }
  .nav-column {
    display: inline-flex;
    gap: 40px;
    align-items: center;
  }
  .nav-list-link {
    position: relative;

    font-weight: 500;

    display: inline-block;

    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-link::after {
    content: '';
    position: absolute;

    border-radius: 2px;

    width: 100%;
    height: 4px;

    left: 0;
    bottom: -1px;

    background-color: #404bbf;

    opacity: 0;
  }
  .nav-list-link:hover::after,
  .nav-list-link:focus::after,
  .nav-list-link.current::after {
    opacity: 1;
  }
  .nav-list-link.current {
    color: #404bbf;
  }
  .contacts-inform {
    color: #434455;

    display: block;
    margin-left: auto;

    font-style: normal;
  }
  .contacts-column {
    color: #434455;
    gap: 12px;
    display: flex;
    flex-direction: column;

    padding-top: 16px;
    padding-bottom: 16px;
  }
  .contacts-link {
    color: #434455;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .contacts-column {
    gap: 40px;

    /* щоб стали у рядок */
    flex-direction: row;

    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts-link {
    font-size: 16px;

    line-height: 1.5;
  }
}
/* #endregion */
/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #ffffff;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;

  padding-bottom: 40px;
  padding-top: 72px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn-close-moblmenu {
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: #e7e9fc;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  width: 24px;
  height: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.close-icon-menu {
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Navigation */
.nav-mobile-menu {
font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #2E2F42;

  margin-bottom: auto;
}

.nav-column-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 40px;
}
.nav-link-moblmenu:focus,
.nav-link-moblmenu:hover {
  color: #404bbf;
}
.nav-list-moblmenu {}

.nav-link-moblmenu {}
/* Contacts */
.contacts-mobile-menu {
  font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #434455;

    font-style: normal;
}

.contacts-column-moblmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 24px;

  margin-bottom: 48px;
}

.contacts-list-moblmenu {
 
}

.contacts-link-moblmenu:focus,
.contacts-link-moblmenu:hover {
  color: #4D5AE5;
}
.contacts-link-moblmenu {
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Socials */
.socials-column-moblmenu {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.socials-list-moblmenu {
  background-color: #4d5ae5;

display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
    height: 40px;
  
    border-radius: 50%;
}

.socials-link-moblmenu {
  width: 40px;
    height: 40px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #4d5ae5;
    border-radius: 50%;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-moblmenu:hover, 
.socials-link-moblmenu:focus {
  background-color: #404bbf;
 }
  /* 37:49 
  https://www.loom.com/share/bcac119269fe463680e3aad72163d33d?login_source=modal*/

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */
/* #region Hero */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office.png');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 72px;
  padding-bottom: 72px;

  max-width: 320px;
  margin: 0 auto;
}
.heading-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;

  text-align: center;
  color: #ffffff;

  padding-bottom: 72px;
  max-width: 216px;
}
.hero-button {
  cursor: pointer;

  height: 56px;

  font-weight: 500;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;

  padding: 16px 32px 16px 32px;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;

  justify-items: center;
  display: flex;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;

    max-width: 768px;
  }
  .heading-title {
    font-size: 56px;
    line-height: 1.07143;

    padding-bottom: 32px;
    max-width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;

    background-size: cover;

    max-width: 1440px;
  }
  .heading-title {
    padding-bottom: 48px;
  }
}
/* #endregion */
/* #region Features section */
.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-list {
  display: flex;

  flex-wrap: wrap;
  text-align: left;

  gap: 72px;
}

/* svg */
.our-features-icon {
  display: none;
}

.our-features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;

  color: #2e2f42;

  margin-bottom: 8px;
}
.our-features-slogan {
  font-weight: 500;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    row-gap: 72px;
  }
  .our-features-subtitle {
    text-align: left;
  }
}
/* tryyyyy */
.bebra{
  
}
@media only screen and (min-width: 1158px) {
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }
  .features-list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: calc((100% - 3 * 24px) / 4);
  }
  .our-features-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;

    width: 100%;
    height: 112px;

    background-color: #f4f4fd;
  }
  .our-features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    margin: 0;
  }
  .our-features-slogan {
    font-weight: 400;
  }
}
/* #endregion */
/* #region Team section */
.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.caption-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;

  padding-bottom: 72px;

  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);

  background: #ffffff;

  max-width: 264px;
}
.team-text {
  padding: 32px 16px 32px 16px;
}
.our-team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;

  color: #2e2f42;

  padding-bottom: 8px;
}
.our-team-subtitle {
  font-weight: 400;

  text-align: center;

  color: #434455;
}
.icon {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  padding-top: 8px;
}
.social-items {
}
.team-socials-link:hover {
  background-color: #404bbf;
}
.team-socials-link:focus {
  background-color: #404bbf;
}
.team-socials-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .team-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .caption-our-team {
  }
  .team-list {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .icon {
  }
  .team-item {
  }
  .team-text {
  }
  .our-team-member {
  }
  .our-team-subtitle {
  }
  .social-list {
  }
  .social-items {
  }
  .team-socials-link {
  }
}
@media only screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container {
  }
  .caption-our-team {
  }
  .team-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }
  .team-item {
  }
  .team-text {
  }
  .our-team-member {
  }
  .our-team-subtitle {
  }
  .social-list {
  }
  .social-items {
  }
  .team-socials-link {
  }
  .icon {
  }
}
/* #endregion */
/* #region Portfolio section */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;

  display: flex;
  flex-direction: column;
}

.headline-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
.portfolio-items {
  padding-top: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.portfolio-list {
  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* під питанням, на моб. пристроях */
.portfolio-list:hover {
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list:hover .portfolio-overlay {
  transform: translateY(0);
}
/* overlay */
.portfolio-image {
  position: relative;
  overflow: hidden;
  max-width: 288px;
}
.portfolio-overlay {
  position: absolute;
  transform: translateY(100%);

  top: 0;
  left: 0;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 40px;
  padding-bottom: 40px;

  width: 100%;
  height: 100%;

  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-grid {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
  background-color: #ffffff;
}
.portfolio-text {
  font-weight: 400;

  color: #434455;
  background-color: #ffffff;
  padding-top: 8px;
}
@media only screen and (min-width: 768px) {
  .portfolio-section {
  }

  .headline-portfolio {
  }
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list {
  }
  .portfolio-image {
    max-width: 356px;
  }
  .portfolio-overlay {
  }
  .portfolio-grid {
  }
  .portfolio-subtitle {
  }
  .portfolio-text {
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .headline-portfolio {
  }
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list {
  }
  .portfolio-image {
    max-width: 360px;
  }
  .portfolio-overlay {
  }
  .portfolio-grid {
  }
  .portfolio-subtitle {
  }
  .portfolio-text {
  }
}
/* #endregion */
/* #region Footer section */
.footer {
  padding: 96px 0;

  background-color: #2e2f42;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer-one-section {
}
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #f4f4fd;

  cursor: pointer;
}
.logo-footer-web {
  color: #4d5ae5;
}

.footer-desc {
  max-width: 264px;
  margin-top: 16px;

  font-weight: 400;

  color: #f4f4fd;

  margin-bottom: 72px;
}
/* Social media */
.footer-two-section {
}
.media-subtitle {
  font-weight: 500;

  color: #f4f4fd;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-bottom: 16px;
}
.socials-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-items-list {
  background-color: #4d5ae5;

  border-radius: 50%;

  width: 40px;
  height: 40px;

  margin-bottom: 72px;
}
.footer-social-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: #f4f4fd;
}
/*Footer form subcribe*/
.footer-three-section {
}
.subscribe-item {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;

  color: #f4f4fd;

  margin-bottom: 16px;
}
.footer-form {
}
.subscribe-form-label {
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-color: #ffffff;
  color: #ffffff;

  width: 288px;
  height: 40px;
  padding: 8px 16px;

  background-color: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  margin-bottom: 16px;
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 1);
}
.subscribe-input:focus {
  border-color: #31d0aa;
}
.button-subcribe-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  padding: 8px 24px;
  /* width: 165px; */

  border-radius: 4px;
  background: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  border: none;

  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.button-subcribe-footer:focus,
.button-subcribe-footer:hover {
  background-color: #31d0aa;
}
.icon-airplane {
  fill: rgba(255, 255, 255, 1);
}
@media only screen and (min-width: 768px) {
  .footer {
  }
  .footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-one-section {
    justify-self: flex-end;
  }
  .logo-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .logo-footer-web {
  }
  .footer-desc {
  }
  .footer-two-section {
    margin-left: 24px;
  }
  .media-subtitle {
    justify-content: flex-start;
  }
  .socials-list-footer {
    justify-content: flex-start;
  }
  .social-items-list {
    margin: 0;
  }
  .footer-social-link {
  }
  .icon-footer {
  }
  /*Footer form subcribe*/
  .footer-three-section {
    display: block;
    justify-self: flex-end;
  }
  .subscribe-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .footer-form {
  }
  .subscribe-form-label {
  }
  .subscribe-input {
    width: 264px;

    margin: 0;
  }
  .button-subcribe-footer {
    margin: 0;
  }
  .icon-airplane {
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-content {
    display: flex;
    align-items: baseline;
  }
  .footer-one-section {
    margin-right: 120px;
  }
  .logo-footer {
  }
  .logo-footer-web {
  }
  .footer-desc {
    margin: 0;

    display: flex;
    justify-content: flex-start;
  }
  .footer-two-section {
    margin: 0;
  }
  .media-subtitle {
  }
  .socials-list-footer {
    justify-content: center;
    align-items: center;
  }
  .social-items-list {
  }
  .footer-social-link {
  }
  .icon-footer {
  }
  /*Footer form subcribe*/
  .footer-three-section {
    margin-left: auto;
  }
  .subscribe-item {
    text-align: left;
  }
  .footer-form {
    display: flex;
    gap: 24px;

    align-items: center;
  }
  .subscribe-form-label {
  }
  .subscribe-input {
    outline: none;
  }
  .button-subcribe-footer {
  }
  .icon-airplane {
  }
}
/* #endregion */
