/*#region Basic Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: #ffffff;
  color: #2e2f42;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
body:has(.modal-overlay.is-open) {
  overflow-y: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a:focus,
a:hover {
  color: #404bbf;
}
button {
  cursor: pointer;
}
button:focus,
button:hover {
  background-color: #404bbf;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*#endregion*/

/*#region header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  margin: auto;
}
.logo-header {
  font-size: 18px;
  font-weight: 700;

  color: #2e2f42;

  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;

  margin-right: 76px;
}
.web-blue {
  color: #4d5ae5;
}
/* Navigation */
.nav-list {
  font-weight: 500;

  display: flex;
  align-items: center;

  color: #2e2f42;
}
.nav-column {
  display: inline-flex;
  gap: 40px;
  align-items: center;
}
.nav-list-link {
  position: relative;
  font-weight: 500;

  color: #2e2f42;
  display: inline-block;

  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link::after {
  content: '';
  position: absolute;

  border-radius: 2px;

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;

  background-color: #404bbf;

  opacity: 0;
}
.nav-list-link:hover::after,
.nav-list-link:focus::after,
.nav-list-link.current::after {
  opacity: 1;
}
.nav-list-link.current {
  color: #404bbf;
}
/* Contacts */
.contacts-inform {
  color: #434455;
  font-style: normal;

  display: flex;
  margin-left: auto;
}
.contacts-column {
  color: #434455;

  margin: auto;
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
.contacts-link {
  display: inline-block;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion header*/

/*#region Hero*/
.hero-section {
  background-color: #2e2f42;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 188px;
  padding-bottom: 188px;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin: 0 auto;
}
.heading-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;

  text-align: center;
  color: #ffffff;

  padding-bottom: 48px;
  max-width: 496px;
}
.hero-button {
  cursor: pointer;

  font-weight: 500;

  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;

  padding: 16px 32px 16px 32px;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;

  justify-items: center;
  display: flex;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion hero section*/
/*#region Features section */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.features-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: calc((100% - 3 * 24px) / 4);
}
.our-features-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  width: 100%;
  height: 112px;

  background-color: #f4f4fd;
}
.our-features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
}

.our-features-slogan {
  color: #434455;
}
/*#endregion features section*/
/*#region Team section */
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.caption-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  max-width: 264px;
}
.team-text {
  padding: 32px 16px 32px 16px;
}
.our-team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  color: #2e2f42;

  padding-bottom: 8px;
}

.our-team-subtitle {
  text-align: center;
  color: #434455;
}

.icon {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  padding-top: 8px;
}
.social-items {
  background-color: #4d5ae5;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
}
.team-socials-link:hover {
  background-color: #404bbf;
}
.team-socials-link:focus {
  background-color: #404bbf;
}
.team-socials-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion team section*/
/*#region Portfolio section */
.portfolio-section {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
}
.headline-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;

  text-align: center;
  color: #2e2f42;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  column-gap: 24px;
  row-gap: 48px;
  padding-top: 72px;
}

.portfolio-list {
  justify-content: space-between;
  gap: 24px;

  width: calc((100% - 2 * 24px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  transform: translateY(100%);

  top: 0;
  left: 0;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 40px;
  padding-bottom: 40px;

  width: 100%;
  height: 100%;

  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-grid {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
  background-color: #ffffff;
}

.portfolio-text {
  color: #434455;
  background-color: #ffffff;
  padding-top: 8px;
}
/*#endregion portfolio section*/
/*#region Footer section */

.footer-desc {
  color: #f4f4fd;

  max-width: 264px;
  margin-top: 16px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-studio-footer {
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;

  display: flex;
  justify-content: flex-start;
}
.web-blue-footer {
  color: #4d5ae5;
  cursor: pointer;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.studio-light-footer {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer-one-section {
  margin-right: 120px;
}
.footer-two-section {
}
.media-subtitle {
  font-weight: 500;

  color: #ffffff;

  margin-bottom: 16px;
}
.socials-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-items-list {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.icon-footer {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion footer section*/
/*#region modal window*/
.modal-overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgb(46 47 66 / 40%);

  transition: 300ms ease-in 150ms;
  transition-property: opacity, visibility;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: initial;
  transition-delay: 0ms;
}

.modal {
  width: 408px;
  min-height: 584px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);

  padding: 72px 24px 24px 24px;

  opacity: 0;

  transition-property: opacity, transform;
  transition: 150ms ease;
}
.modal-overlay.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition-delay: 300ms;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: #e7e9fc;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.svg-close {
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
.modal-btn:hover .svg-close,
.modal-btn:focus .svg-close {
  fill: #ffffff;
}
.modal-slogan {
  font-weight: 500;

  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}
/*#endregion modal window*/

/*#region modal form*/
.feedback-form {
}

.feedback-wrapper {
  margin-bottom: 8px;
}
.feedback-wrapper-comment {
  margin: 0;
}
.feedback-label {
  display: block;
  margin-bottom: 4px;
  color: rgba(142, 143, 153, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
}

.feedback-field {
  position: relative;
}

.feedback-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;

  outline: none;
  padding: 11px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus {
  border-color: rgba(77, 90, 229, 1);
}
.feedback-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  pointer-events: none;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-input:focus + .feedback-icon {
  fill: #4d5ae5;
}
.comment-form {
  height: 120px;
  width: 100%;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  resize: none;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-bottom: 16px;
}
.comment-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.comment-form:focus {
  border-color: rgba(77, 90, 229, 1);
}
/*CUSTOM  CHECKBOX */
.user-checkbox-label {
  display: block;
  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;

  color: #8e8f99;
}
.user-checkbox-input {
}
.feedback-toggler {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.user-checkbox-input:checked + .feedback-toggler {
  background-color: #404bbf;
}
.feedback-toggler-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}
.user-checkbox-input:checked + .feedback-toggler > .feedback-toggler-icon {
  opacity: 1;
}
.feedback-link-policy {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.button-form {
  width: 169px;

  display: block;
  margin: 0 auto;

  /* display: inline-flex;
       
        justify-content: center;
        align-items: center; */

  cursor: pointer;

  padding: 16px 32px 16px 32px;

  border-radius: 4px;
  color: #ffffff;
  background: rgba(77, 90, 229, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion modal form*/

/*#region Footer form subcribe */
.footer-three-section {
  /* margin-left: 80px; */

  margin-left: auto;
}
.footer-form {
  display: flex;
  gap: 24px;

  align-items: center;
}
.subscribe-item {
  color: rgba(255, 255, 255, 1);

  font-weight: 500;
  line-height: 24px;
  text-align: left;

  margin-bottom: 16px;
}
.subscribe-form-label {
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-color: #ffffff;
  color: #ffffff;

  width: 264px;
  height: 40px;
  padding: 8px 16px;

  /* display: flex;
  flex-direction: row;
  align-items: center; */

  background-color: transparent;

  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 1);
}
.subscribe-input:focus {
  border-color: #31d0aa;
}
.button-subcribe-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 8px 24px;

  border-radius: 4px;
  background: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  border: none;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;

  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.button-subcribe-footer:focus,
.button-subcribe-footer:hover {
  background-color: #31d0aa;
}
.icon-airplane {
  fill: rgba(255, 255, 255, 1);
}
/*#endregion Footer form subcribe */
